<!doctype html>
<html>
  <head>
   <meta charset="utf-8">
     <link rel="stylesheet" href="./css/user.css">
     <link rel="stylesheet" href="./css/form.css">
     <script src="./js/lib/vue.js"></script>
     <script src="./js/lib/jquery-3.3.1.min.js"></script>
     <script src="./js/lib/underscore-min.js"></script>
     <title>Form for select video camers </title>
  </head>
  <body>
    <div id="app" class="form">
        <div v-if="!verification">
            <input class="form-input" @keyUp="validation=false" v-model="street" placeholder="Search by street">
            <h1 style="clear:left">Public camers</h1>
            <camera v-for="camera in camersPublic" v-if="filter(camera, street)"  :selected = "selected" :camera="camera" :validation="validation"></camera>
            <hr style="clear: left">
            <h1>Privat camers</h1>
            <camera v-for="camera in camersPrivate" v-if="filter(camera, street)" :selected = "selected" :camera="camera" :validation="validation"></camera>
            <div class="camera_info_button">
                <button class="nav_button" v-on:click="validationAndGet">Get</button>
            </div>
        </div>
        <div v-else>
                <p class="camera_info_name">Відповідь від сервера => {{camersVerification}}</p>
                <p class="camera_info_name">Ви підтверджуєте вибір:</p>
                <div class='camera' v-for="camera in camersVerification">
                    <div class="img-container">
                            <img :src="camera.camera_info._cam_scrin" :alt="camera.image"  width="300" height="209">
                    </div>
                    <div class="camera_info">
                        <p class="camera_info_name">Camera {{camera.uid_camera}}</p>
                        <div v-if="camera.period==31">
                            <p class="camera_info_description">{{camera.description}}</p>
                            <p class="camera_info_description">Повна вартість послуги: {{camera.total_price}}</p>
                                <div  v-if="camera.user_discount > 0 ">
                                    <p v-if="camera.last_day_k < 1"class="camera_info_description">
                                        Ваша знижка: {{camera.user_discount}}% 
                                        Так як ви користуєтесь ЦЕЙ місяць не повністю, абонплату буде перераховано.</br> 
                                        Всього до сплати {{camera.cash}} грн.
                                    </p>
                                    <p v-else class="camera_info_description">
                                        Ваша знижка {{camera.user_discount}}% Всього до сплати {{camera.cash}} грн.
                                    </p>
                                </div>
                                <div v-else>
                                        <p v-if="camera.last_day_k < 1"class="camera_info_description">
                                            Так як ви користуєтесь ЦЕЙ місяць не повністю, абонплату буде перераховано. Всього до сплати {{camera.cash}} грн.
                                        </p>
                                        <p v-else class="camera_info_description">
                                                Всього до сплати {{camera.cash}} грн.
                                        </p>
                                </div>
                        </div>
                        <div v-else>
                                <p class="camera_info_description">{{camera.description}}</p>
                                <p class="camera_info_description">Кількість днів: {{camera.total_price}}</p>
                                <p class="camera_info_description">Повна вартість послуги: {{camera.total_price}}</p>
                                <p v-if="camera.user_discount > 0 " class="camera_info_description">
                                        Ваша знижка {{camera.user_discount}}% Всього до сплати {{camera.cash}} грн.
                                </p>
                                <p v-else class="camera_info_description">
                                        Всього до сплати {{camera.cash}} грн.
                                </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script type="text/template" id="camera">
      <div class='camera'>
        <div class="img-container">
          <img :src="camera._cam_scrin" :alt="camera.image"  width="300" height="209">
        </div>
        <div class="camera_info">
          <p :style="isWarning()" class="camera_info_name">Camera {{camera.uid}}</p>
          <p :style="isWarning()" class="camera_info_street">{{camera._adr_city}} {{camera._adr_street}}</p>
          <p :style="isWarning()" class="camera_info_description">{{camera.comment}}</p>
          <div v-if="!isUsedCamera()" style="clear:left">
              <select  v-model="camera.dvr" @change="camera.p=0">
                  <option disabled value=''>Do you need archive?</option>
                  <option v-if="camera.dvr!=''" value=''>Remove selection</option>
                  <option v-if="camera.drv_yes!=0" value="yes">YES</option>
                  <option v-if="camera.drv_no!=0" value="no">NO</option>
              </select>
          </div>
          <div v-else style="clear:left">
              <p :style="isWarning()" class="camera_info_description">
                  <b>Подключеная услуга:</b> {{warning.description}} {{warning.days}} 
              </p>
              <p :style="isWarning()" class="camera_info_description">
                  <b>Услуга заканчивается:</b> {{warning.end_services}}
              </p>
              <p style="color: green" class="camera_info_description" v-if="warning.next_service_id != 0">
                  <b>Следующая услуга:</b> {{warning.description}} {{warning.days}}
              </p>
            </p>
          </div>
          <p class="camera_warning" v-if="validation && camera.dvrrchive === null">Can you use archive?</p>
          <div v-if="!isUsedCamera()" style="clear:left">
            <select v-if="camera.dvr!==''" class="camera_info" v-model="camera.p">
                <option disabled value=0>Select period</option>
                <option v-if="camera.dvr=='yes'" v-for="period in camera.dvr_yes" :value="period.number">{{period.name}}</option>
                <option v-if="camera.dvr=='no'" v-for="period in camera.dvr_no" :value="period.number">{{period.name}}</option>
            </select>
          </div>
          <p class="camera_warning" v-if="validation && camera.p===0 && camera.dvr!==''">You must select period!</p>
          </div>
      </div>

    </script>
   <script src="./js/app.js"></script>


